<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Emission Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Carbon Emission Tracker</h1>
        <div class="menu">
            <button class="menu-button">☰</button>
            <div class="menu-content">
                <a href="/">Home</a>
                <a href="/calculator">Kalkulator Karbon</a>
                <a href="/about">About Us</a>
            </div>
        </div>
    </header>
    <main>
        <h2>Cari Emisi Karbon</h2>
        <form method="POST" action="/search">
            <label for="country">Masukkan Nama Negara:</label>
            <input type="text" id="country" name="country" required maxlength="100" placeholder="Contoh: Indonesia">
            <button type="submit">Search</button>
        </form>
        <br>
        {% if result %}
            <h2>Jumlah Emisi Negara {{ country }} untuk 5 Tahun Terakhir</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tahun</th>
                        <th>Total Emisi (Ton/CO₂)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in result %}
                        <tr>
                            <td>{{ row['Year'] }}</td>
                            <td>{{ row['Annual CO₂ emissions'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <a href="/plot/{{ country }}" style="text-decoration: none; color: blue;">Lihat Grafik Emisi untuk {{ country }}</a>

        {% elif result is not none %}
            <p>{{ result }}</p>
        {% else %}
            <p>No search results yet. Please enter a country name above.</p>
        {% endif %}
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuButton = document.querySelector(".menu-button");
            const menuContent = document.querySelector(".menu-content");
    
            menuButton.addEventListener("click", function () {
                menuContent.style.display = menuContent.style.display === "block" ? "none" : "block";
            });
    
            window.addEventListener("click", function (event) {
                if (!menuButton.contains(event.target) && !menuContent.contains(event.target)) {
                    menuContent.style.display = "none";
                }
            });
        });
    </script>
</body>
</html>
